/**** Menu Styles ****/
.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li + li {
    border-top: 1px solid #CED7DC;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li a {
    display: block;
    
    font-weight: bold;
    font-size: 1.1em;
    color: #444444;
    
    padding: 8px 5px;
    
    line-height: 1.5em;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li a.current, .CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li a.section {
    color: #0073C1;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li a:hover, .CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li a:active {
    background: #338DC1;
    
    color: #FFFFFF;
    
    text-decoration: none;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li ul {
    margin-left: 20px;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li ul li a {
    font-weight: normal;
    
    padding-left: 10px;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.menuList li.current ul li a.current {
    background: #0073C1;
    
    color: #FFFFFF;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.minor-nav {
    margin-top: 30px;
    
    border-top: 1px solid #CED7DC;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.minor-nav a {
    color: #BEC7CC;
    
    text-transform: uppercase;
}

.CMSDocumentationViewer .cmsdocviewer-menu ul.minor-nav li {
    padding: 5px 0;
}

.CMSDocumentationViewer .cmsdocviewer-menu .search-form {
    border-bottom: 1px solid #CED7DC;
    
    margin-bottom: 30px;
    padding-bottom: 7px;
    
    -webkit-box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
    -moz-box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
    box-shadow: 0 1px 0 rgba(248, 248, 248, 0.9);
}

.CMSDocumentationViewer .cmsdocviewer-menu .search-form fieldset {
    float: left;
    
    width: 60%;
}

.CMSDocumentationViewer .cmsdocviewer-menu .search-form .field {
    border: 0;
    
    margin: 0;
    padding: 0;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.CMSDocumentationViewer .cmsdocviewer-menu .search-form .Actions {
    float: left;
    
    width: 30%;
    
    margin-left: 10%;
    padding: 0;
}

/**** Basic Typography Styles ****/
.CMSDocumentationViewer .cmsdocviewer-content h1 {
    font-size: 20px;
    font-weight: bold;
    
    margin: 16px 0;
    
    line-height: normal;
}

.CMSDocumentationViewer .cmsdocviewer-content h2, .CMSDocumentationViewer .cmsdocviewer-content h3, .CMSDocumentationViewer .cmsdocviewer-content h4, .CMSDocumentationViewer .cmsdocviewer-content h5 {
    line-height: normal;
}

.CMSDocumentationViewer .cmsdocviewer-content p {
    margin: 16px 0;
}

.CMSDocumentationViewer .cmsdocviewer-content code {
    background: #ECF0F1;
    font: 13px/15px Monaco, "Bitstream Vera Sans Mono", Courier, monospace;
    
    padding: 2px;
}

.CMSDocumentationViewer .cmsdocviewer-content table {
    background-color: #FAFAFA;
    
    width: 100%;
    
    border: 1px solid #C3CDCA;
    border-collapse: collapse;
    
    margin-bottom: 28px;
}

.CMSDocumentationViewer .cmsdocviewer-content table tr:nth-child(2n) {
    background: #EEF4F6;
}

.CMSDocumentationViewer .cmsdocviewer-content table thead {
    background: #FAFAFA;
}

.CMSDocumentationViewer .cmsdocviewer-content table thead th {
    font-weight: bold;
    font-size: 15px;
    
    padding: 7px 10px 6px;
    
    border-right: 1px solid #C3CDCA;
    
    text-align: left;
}

.CMSDocumentationViewer .cmsdocviewer-content table tbody tr {
    border-top: 1px solid #C3CDCA;
}

.CMSDocumentationViewer .cmsdocviewer-content table td {
    font-size: 15px;
    
    padding: 7px;
    
    border-right: 1px solid #C3CDCA;
    
    line-height: 21px;
}

.CMSDocumentationViewer .cmsdocviewer-content .documentation_children h3 {
    font-size: 18px;
    
    margin-top: 0;
    padding-top: 19px;
    
    border-top: 1px solid #DDDDDD;
}

.CMSDocumentationViewer .cmsdocviewer-content .documentation_children ul li {
    float: left;
    
    width: 30%;
    
    margin: 0 0 40px;
    padding: 0 3% 0 0;
    
    list-style-type: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CMSDocumentationViewer .cmsdocviewer-content .documentation_children li:nth-child(3n+1) {
    clear: both;
}


/**** Documentation Index Styles ****/
.CMSDocumentationViewer .cmsdocviewer-all-content h2 {
    border-top: 1px solid #CED7DC;
    
    margin: 40px 0 20px;
    padding-top: 29px;
}

.CMSDocumentationViewer .cmsdocviewer-all-content ul.third li {
    float: left;
    width: 33.3%;
    
    padding-bottom: 20px;
    padding-right: 30px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CMSDocumentationViewer .cmsdocviewer-all-content ul.third:after, .CMSDocumentationViewer .cmsdocviewer-content .clearfix:after, .CMSDocumentationViewer .cmsdocviewer-content .documentation_children:after, .CMSDocumentationViewer .cmsdocviewer-menu .clearfix:after {
    clear: both;
    
    display: block;
    
    content: ' ';
    
    width: 0;
    height: 0;
    
    font-size: 0;
    
    line-height: 0;
    
    visibility: hidden;
}

.CMSDocumentationViewer .cmsdocviewer-all-content #page-numbers span, .CMSDocumentationViewer .cmsdocviewer-all-content #page-numbers a {
    padding: 3px 5px;
}

.CMSDocumentationViewer .cmsdocviewer-all-content #page-numbers a:hover, .CMSDocumentationViewer .cmsdocviewer-all-content #page-numbers a:active {
    background: #338DC1;
    
    color: #FFFFFF;
    
    text-decoration: none;
}


/**** Page Content Styles ****/
.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents {
    background: #ECEFF1;
    
    border: 1px solid #C0C0C2;
    
    margin: 0 0 21px;
    padding: 6px 6px 6px 10px;
    
    border-radius: 4px;
    
    cursor: pointer;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents h4 {
    font-size: 12px;
    
    margin: 0;
    
    line-height: 1.8em;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents h4:hover {
    opacity: 0.8;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents h4 span.updown {
    font-size: 10px;
    
    margin-left: 6px;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents ul {
    padding-left: 0;
    
    list-style-type: none;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents li {
    line-height: 1.5em;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents li.H2 {
    padding-left: 20px;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents li.H3 {
    padding-left: 40px;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents li.H4 {
    padding-left: 60px;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents li.H5 {
    padding-left: 80px;
}

.CMSDocumentationViewer .cmsdocviewer-page-content #table-of-contents li.H6 {
    padding-left: 100px;
}

.CMSDocumentationViewer .cmsdocviewer-page-content h1 .heading-anchor-link, .CMSDocumentationViewer .cmsdocviewer-page-content h2 .heading-anchor-link,
.CMSDocumentationViewer .cmsdocviewer-page-content h3 .heading-anchor-link, .CMSDocumentationViewer .cmsdocviewer-page-content h4 .heading-anchor-link,
.CMSDocumentationViewer .cmsdocviewer-page-content h5 .heading-anchor-link, .CMSDocumentationViewer .cmsdocviewer-page-content h6 .heading-anchor-link {
    display: none;
    
    padding-left: 1ex;
}

.CMSDocumentationViewer .cmsdocviewer-page-content h1 .heading-anchor-link:before, .CMSDocumentationViewer .cmsdocviewer-page-content h2 .heading-anchor-link:before,
.CMSDocumentationViewer .cmsdocviewer-page-content h3 .heading-anchor-link:before, .CMSDocumentationViewer .cmsdocviewer-page-content h4 .heading-anchor-link:before,
.CMSDocumentationViewer .cmsdocviewer-page-content h5 .heading-anchor-link:before, .CMSDocumentationViewer .cmsdocviewer-page-content h6 .heading-anchor-link:before {
    display: inline;
    
    content: "\00B6";
}

.CMSDocumentationViewer .cmsdocviewer-page-content h1.hover .heading-anchor-link, .CMSDocumentationViewer .cmsdocviewer-page-content h2.hover .heading-anchor-link,
.CMSDocumentationViewer .cmsdocviewer-page-content h3.hover .heading-anchor-link, .CMSDocumentationViewer .cmsdocviewer-page-content h4.hover .heading-anchor-link,
.CMSDocumentationViewer .cmsdocviewer-page-content h5.hover .heading-anchor-link, .CMSDocumentationViewer .cmsdocviewer-page-content h6.hover .heading-anchor-link {
    display: inline;
    
    color: #AAAAAA;
}

.CMSDocumentationViewer .cmsdocviewer-page-content ul {
    padding-left: 30px;
    
    list-style-type: disc;
}

.CMSDocumentationViewer .cmsdocviewer-page-content ol {
    padding-left: 30px;
    
    list-style-type: decimal;
}

.CMSDocumentationViewer .cmsdocviewer-page-content ul li, .CMSDocumentationViewer .cmsdocviewer-page-content ol li {
    margin-bottom: 4px;
}

.CMSDocumentationViewer .cmsdocviewer-content .next-prev a {
    background: #D0D3D5;
    
    float: left;
    
    display: block;
    
    color: #1F1F1F;
    
    max-width: 300px;
    
    padding: 6px 10px;
    
    border-radius: 4px;
}

.CMSDocumentationViewer .cmsdocviewer-content .next-prev a.next-link {
    float: right;
}

.CMSDocumentationViewer .cmsdocviewer-content .next-prev a:hover, .CMSDocumentationViewer .cmsdocviewer-content .next-prev a:active, .CMSDocumentationViewer .cmsdocviewer-content .next-prev a:focus {
    background: #C2CDD4;
    
    text-decoration: none;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre {
    background-color: #333333;
    
    display: block;
    
    font: 13px/20px Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
    color: #4E5661;
    
    max-height: 300px;
    
    border: 1px solid #E9EAED;
    
    margin-bottom: 32px;
    padding: 13px 16px;
    
    border-radius: 4px;
    
    overflow: auto;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre code {
    background: transparent;
    
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: bold;
    color: #FFFFFF;
    
    padding: 0;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .nocode {
    background-color: none;
    color: #000000;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .str {
    color: #FFA0A0;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .kwd {
    color: #F0E68C;
    font-weight: bold;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .com {
    color: #87CEEB;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .typ {
    color: #98FB98;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .lit {
    color: #CD5C5C;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .pun {
    color: #FFFFFF;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .pln {
    color: #FFFFFF;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .tag {
    color: #F0E68C;
    font-weight: bold;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .atn {
    font-weight: bold;
    color: #BDB76B;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .atv {
    color: #FFA0A0;
}

.CMSDocumentationViewer .cmsdocviewer-page-content pre .dec {
    color: #98FB98;
}

.CMSDocumentationViewer .cmsdocviewer-page-content ol.linenums {
    color: #AEAEAE;
    
    margin-top: 0;
    margin-bottom: 0;
}


/**** Search Results Styles ****/
.CMSDocumentationViewer .cmsdocviewer-results-content .result {
    border-top: 1px solid #CED7DC;
    
    margin-top: 30px;
    padding-top: 30px;
}

.CMSDocumentationViewer .cmsdocviewer-results-content .result h2 {
    margin: 0;
}

.CMSDocumentationViewer .cmsdocviewer-results-content .result .path {
    color: #B7C0C5;
    
    margin-top: 10px;
}

.CMSDocumentationViewer .cmsdocviewer-results-content ul.pagination, .CMSDocumentationViewer .cmsdocviewer-results-content ul.pagination li {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

.CMSDocumentationViewer .cmsdocviewer-results-content ul.pagination {
    border-top: 1px solid #CED7DC;
    
    margin-top: 40px;
    padding: 30px 0;
    
    text-align: center;
}

.CMSDocumentationViewer .cmsdocviewer-results-content ul.pagination li {
    display: inline-block;
}

.CMSDocumentationViewer .cmsdocviewer-results-content .pagination strong, .CMSDocumentationViewer .cmsdocviewer-results-content .pagination .ellipsis, .CMSDocumentationViewer .cmsdocviewer-results-content .pagination a {
    font-size: 14px;
    
    padding: 3px 5px;
}

.CMSDocumentationViewer .cmsdocviewer-results-content .pagination .ellipsis {
    color: #B7C0C5;
}

.CMSDocumentationViewer .cmsdocviewer-results-content .pagination a:hover, .CMSDocumentationViewer .cmsdocviewer-results-content .pagination a:active {
    background: #338DC1;
    
    color: #FFFFFF;
    
    text-decoration: none;
}